@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Plantopia</h1>
</div>

<div style="display: flex; gap: 2em; align-items: center; justify-content: center; margin: 3em 1em;">
    <div>
        <img src="images/plants01.jpg" alt="Plants" style="width: 600px; max-width: 98%;">
    </div>
    <div>
        <img src="images/plants02.jpg" alt="Plants" style="width: 600px; max-width: 98%;">
    </div>
</div>

<div style="text-align: center;">
    <h2>Plants are cheaper than therapy.</h2>
</div>