@model Plantopia.Models.NewsModel

@{
    ViewData["Title"] = "Edit News article";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label style="margin-top:1em" asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="margin-top:1em" asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="margin-top:1em" asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(Model.ImageName))
            {
                <div style="margin:1em 0" class="form-group">
                    <label class="control-label">Current Image</label>
                    <img src="~/images/@Model.ImageName" style="width:100px" />
                    <input type="hidden" asp-for="ImageName" />
                </div>
            }
            <div style="margin:2em 0"  class="form-group">
                <input type="submit" value="Save changes" class="button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
